@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
  /* background: #8e2de2; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2 */
  /* ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: #202127;
  text-align: right;
  font-family: "b nazanin", cursive;
}
header .navbar {
  padding: 0.5rem 0;
}

header nav.navbar .navbar-brand {
  color: #fff;
}

#note-list {
  display: contents;
  width: auto;
  height: auto;
  background: rgba(143, 42, 42, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#label {
  font-size: larger;
  color: #f9fcf9;
  text-align: center;
  padding: 2px;
  width: 10.9rem;
  height: max-content;
  background: #505157;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
textarea {
  outline: 0;
  text-align: right;
  background: #eae4f5e0;
  color: #000000;
  width: 100%;
  height: 100px;
  font-size: larger;
}

#btn {
  margin-top: 5px;
  border-radius: 5px;
  font-size: larger;
  width: 100%;
}
#remove-all {
  margin-top: 5px;
  border-radius: 5px;
  font-size: larger;
  width: 100%;
}

.my-notes {
  font-size: larger;
  color: #f9fcf9;
  text-align: center;
  padding: 2px;
  width: 10.9rem;
  height: max-content;
  background: #505157;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#cleander {
  color: #f6f5fa;
  font-size: 20px;
}
#date {
  font-size: 20px;
  color: #f6f5fa;
  text-align: center;
  padding-top: 2px;
}

#note-list .remove-btn {
  float: left;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 14px;
  border: 0;
  color: #fff;
  background: #970808;
  line-height: 1;
  font-size: 13px;
  margin-top: 2px;
}
#note-list .remove-btn:hover {
  color: rgb(8, 0, 0);
  background: #ff0000;
  transition: all 0.1s ease;
}
#save{
  width: auto;
  height: auto;
  background-color: #077237;
  color: #f6f5fa;
  margin-top: 5px;
  border-radius: 5px;
  font-size: larger;
  width: 100%; 
}
#save:hover{
  background-color: #08d34c;
}
#note-list .edit-btn {
  float: left;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 14px;
  border: 0;
  color: #fff;
  background: #041583;
  line-height: 1;
  font-size: 13px;
  margin-top: 2px;
}
#note-list .edit-btn:hover {
  background-color: rgb(11, 11, 216);
  transition: all 0.1s ease;
}
#note-list .comp-btn {
  float: left;
  margin-left: 5px;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 10px 14px;
  border: 0;
  color: #fff;
  background: #077237;
  line-height: 1;
  font-size: 13px;
  margin-top: 2px;
}

#note-list .comp-btn:hover {
  background-color: rgb(10, 212, 10);
  transition: all 0.1s ease;
}
li {
  background-color: rgb(247, 241, 241);
  box-sizing: border-box;
  font-size: large;
  text-align: right;
  color: #000c00;
  padding: 6px;
  list-style-type: none;
  overflow-x: auto;
  line-height: 2;
  font-weight: 600;
  box-shadow: 0 0px 12px 0 rgba(216, 217, 236, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  margin-top: 5px;
}
.comp {
  text-decoration: line-through;
}
